
$color-white:  #fff;
$color-black-purple:  #42365a;
$color-orange:#ff7346;
$color-black: #000;
$font-unbounded: "Unbounded", sans-serif;
$font-manrope: "Manrope", sans-serif;
$font-onest: 'Onest', sans-serif;
$font-noticia-text: 'Noticia Text', sans-serif;
$font-unbounded-light: 300;
$font-unbounded-regular: 400;
$font-unbounded-medium: 500;
$font-unbounded-black: 900;


$font-manrope-regular: 400;
$font-manrope-medium: 500;
$font-manrope-semibold: 600;

$font-onest-semibold: 600;

$font-noticia-text-bold: 700;

/*GLOBAL*/
.g-6, .gy-6 {
  --bs-gutter-y: 4rem;
}

.g-6, .gx-6 {
  --bs-gutter-x: 4rem;
}
.g-8, .gx-8 {
  --bs-gutter-x: 8rem;
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
}


.hero {

  background: url("img/hero_bg.png") no-repeat top center;

  background-size: cover;
  background-position: center center;

  color: $color-white;
  @media (max-width: 576px) {
    background: url("img/hero_bg-mob.png") no-repeat top center;
    background-size: cover;

  }
}


.header {
  padding: 1.4rem 0;
  .navbar-nav {
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 32px;
    margin-left: 32px;
    gap: 30px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 18px;
      width: 2px;
      background: rgba(255, 255, 255, 0.3);

    }
    &::after {
      content: "";
      position: absolute;
      right:  0;
      top: 50%;
      transform: translateY(-50%);
      height: 18px;
      width: 2px;
      background: rgba(255, 255, 255, 0.3);

    }
  }


  .nav-item .nav-link {
    font-family: $font-manrope;
    font-weight: $font-manrope-semibold;
    text-transform: uppercase;
    color:$color-white;
    font-size: 14px;
    letter-spacing: 0.08em;
    padding: 0;
    &:hover {
      color: $color-orange;
    }
    &:active {
      color: $color-orange;
    }

  }


  .header__menu-item:nth-child(2)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 12px;
    width: 1px;
    background: rgba(255, 255, 255, 0.4);
  }





}
.header__logo  {
  font-family: $font-unbounded;
  font-weight: $font-unbounded-black;
  font-size: 20px;
  color: $color-white;
  text-transform: uppercase;
  margin: 0;
  b {
    color: $color-orange;

  }
}
.header__contacts {
  gap: 32px;

}
.header__contact-phone,
.header__contact-email {
  font-family: $font-manrope;
  font-weight: $font-manrope-semibold;
  color: $color-white;
  font-size: 14px;
  svg {
    margin-right: 6px;
  }

}
.header__contact-email {
  @media (max-width: 992px) {
    margin-left: 1rem;
    margin-bottom: 0;
  }
}
.header__contact-phone:hover,
.header__contact-email:hover {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: $color-orange;
    svg path {
      stroke: $color-orange;
    }
  }
  &:active {
    color: $color-orange;
    svg path {
      stroke: $color-orange;
    }
  }
}
.header__cta {
  font-family: $font-manrope;
  font-weight: $font-manrope-semibold;
  color: $color-white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  svg {
    margin-right: 6px;
  }
  &:hover {
    color: $color-orange;
    svg path {
      stroke: $color-orange;
    }
  }
  &:active {
    color: $color-orange;
    svg path {
      stroke: $color-orange;
    }
  }

}



.main {
  padding: 125px 0 267px;
  text-align: center;
  @media (max-width: 992px) {
    text-align: left;
  }
}
.main__title {

  font-size: 44px;
  line-height: 100%;
  color:$color-white;
  font-family: $font-unbounded;
  font-weight: $font-unbounded-medium;
  margin-bottom: 50px;
  @media (max-width: 992px) {
    margin-bottom: 30px;
  }
}
.main__subtitle {
  color:$color-white;
  font-family: $font-unbounded;
  font-weight: $font-unbounded-regular;
  margin-bottom: 82px;
  font-size: 24px;
  line-height: 120%;
  @media (max-width: 992px) {
    margin-bottom: 60px;
  }
}
.btn-orange {
  font-family: $font-manrope;
  font-weight: $font-manrope-semibold;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.08em;
  color:$color-white;
  background: $color-orange;
  padding: 17px 26.5px;
  text-transform: uppercase;
  border: 1px solid #ff9b7b;
  border-radius: 12px;
  box-shadow: 0 12px 12px 0 rgba(255, 115, 70, 0.3);
  svg {
    margin-right: 8px;
  }
  &:hover {
    border: 1px solid #bdb2d3;
    background: radial-gradient(163.86% 91.87% at 100% 100%, #beb2df 16.42%, #ff7346 35%, #ff7346 54.58%, #beb2df 73.08%, #9788b5 100%);;
    box-shadow: 0 12px 12px 0 rgba(151, 136, 181, 0.3);
  }
  &:active {
    border: 1px solid #bdb2d3;
    box-shadow: 0 12px 12px 0 rgba(151, 136, 181, 0.3);
    background: radial-gradient(254.86% 131.2% at 100% 100%, #beb2df 37.02%, #ff7346 85.58%, #beb2df 100%);
  }
  &:disabled {
    border: 1px solid #817697;
    box-shadow: 0 12px 12px 0 rgba(151, 136, 181, 0.3);
    background: #6c5e88;
    cursor: not-allowed;
    color: #817697;
    svg path {
      stroke: #817697;
    }
  }
}
.main__image {
  max-width: 400px;
  height: auto;
}

/*ABOUT*/

.about {
  font-family: $font-unbounded;
  color: $color-black-purple;
  margin-top: -80px;
  position: relative;
  padding: 0px 0 100px 0;
  background: transparent;
  .container {
    position: relative;
    z-index: 1;
  }
  &__intro {
    position: relative;
    background: #fff;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 97px 60px 67px 0;
    z-index: 1;
    // ключевой псевдоэлемент для растяжки влево
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100vw;
      width: 100vw;
      background: #fff;
      z-index: -1;
    }
  }

  &__title {
    font-weight: $font-unbounded-medium;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 120%;
  }
  &__text {
    font-family: $font-manrope;
    font-weight: $font-manrope-regular;
    font-size: 22px;
    line-height: 120%;
    color: $color-black;
    margin-bottom:30px;
  }

  &__stats {
    --bs-gutter-x: 20px;
  }

  &__card {
    background:   #f3edff;
    border-radius: 40px;
    padding: 43px 40px;
    text-align: left;
  }

  &__card-value {
    font-size: 50px;
    font-weight: $font-unbounded-medium;
    margin-bottom: 15px;
    line-height: 100%;
  }

  &__card-label {
    font-family: $font-manrope;
    font-weight: $font-manrope-regular;
    color: $color-black;
    font-size: 22px;
    line-height: 120%;
  }
}

/*BENEFITS*/
.benefits {
  font-family: $font-unbounded;
  font-weight: $font-unbounded-medium ;
  position: relative;
  padding: 100px 0 232px;
  overflow: hidden;
  background: url("img/benefits_bg.png") no-repeat center center;
  background-size: cover;

/*
  &__background {
    position: absolute;
    inset: 0;
    filter: blur(100px);
    background: radial-gradient(163.86% 91.87% at 100% 100%, #beb2df 16.42%, #ff7346 35%, #ff7346 54.58%, #beb2df 73.08%, #42365a 100%);
    z-index: 1;
  }
*/
  .container {
    position: relative;
    z-index: 2;
  }

  &__card {
    background: #fff;

    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
    padding: 95px 138px 164px 0;


    margin-left: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -96vw;
      width: 100vw;
      background: $color-white;
      z-index: -1;
    }
  }

  &__title {
    font-weight: $font-unbounded-medium ;
    color: $color-black-purple;
    margin-bottom: 103px;
    font-size: 36px;
    line-height: 120%;

  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__icon {
    border-radius: 40px;
    width: 119px;
    height: 119px;
    margin-bottom: 32px;
    text-align: center;
    padding: 21px;
    background: radial-gradient(87.86% 120.87% at 100% 97%, #beb2df 18.42%, #ff7346 44%, #ff7346 46.58%, #beb2df 65.08%, #42365a 86%);
    img {
      width: 77px;
      vert-align: middle;
    }
  }

  &__item-title {
    font-weight: $font-unbounded-medium ;
    font-size: 24px;
    line-height: 120%;
    color: $color-black-purple;
  }

  &__item-text {
    font-family: $font-manrope;
    font-weight: $font-manrope-regular;
    color: $color-black;
    font-size: 20px;
    line-height: 120%;
  }
}
/*SITES*/
.sites {
  font-family: $font-unbounded;

  padding-bottom: 100px;

  &__title {
    font-weight:$font-unbounded-medium;
    color:$color-black-purple;
    margin-bottom: 10px;
    font-size: 44px;
    line-height: 100%;
    margin-bottom: 30px;
  }
  &__subtitle {
    font-family: $font-manrope;
    font-weight:$font-manrope-regular;
    color: $color-black;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 83px;
  }
  &__card {
    background: #f3edff;
    border-radius: 40px;
    padding: 20px 20px 20px 20px;
    text-align: left;
    height: 100%;
    min-height: 363px;
    /*transition: all 0.3s ease;*/
/*
    &:hover {
      transform: translateY(-5px);
    }*/
  }
  &__icon {
    width: 55%;
    border-radius: 30px;
    background: $color-white;
    height: auto;
    margin-bottom: 20px;
    padding: 30px 0;
    text-align: center;
    img {
      width: 110px;
      height: 110px;
    }
  }
  &__card-title {
    font-weight:$font-unbounded-medium;
    color: $color-black-purple;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
  }
  &__card-text {
    font-family: $font-manrope;
    font-weight:$font-manrope-regular;
    font-size: 20px;
    line-height: 120%;
    color: $color-black;
  }
  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("img/sites_cta_bg.png") no-repeat top center;
    background-size: cover;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    height: 100%;
    padding: 30px;
    text-decoration: none;
    img {
      width: 110px;
      height: 110px;
      margin-bottom: 15px;
    }
    span {
      font-weight: $font-unbounded-medium;
      font-size: 36px;
      line-height: 120%;
      text-align: center;
      color: $color-white;

    }
    &:hover {
      filter: brightness(1.2);
    }


  }
}
/*workflow*/
.workflow {
  font-family: $font-unbounded;

  padding: 100px 0;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    right: -50px;
    bottom: 0;
    background: #f3edff;
    filter: blur(100px);
    z-index: -1;
  }

  &__card {
    background:$color-white;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 48px;
    padding: 85px 0 99px 85px;
    height: 100%;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -100vw;
      width: 100vw;
      background: #fff;
      z-index: 0;
    }
  }

  &__title {
    font-weight:$font-unbounded-medium;
    color:$color-black-purple;
    margin-bottom: 39px;
    font-size: 44px;
    line-height: 100%;

  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 40px;
  }
  &__item {
    display: flex;
    align-items: center;
    max-width: 775px;
    min-height: 181px;
    background: #f3edff;
    border-radius: 40px;
    padding: 40px 20px;
    &:nth-child(2),
    &:nth-child(4) {
      margin-left: auto;
    }
    &:nth-child(1),
    &:nth-child(3) {
      margin-right: auto;
    }
  }
  &__step {
    flex-shrink: 0;
    border-radius: 1000px;
    width: 100px;
    height: 100px;
    background:radial-gradient(80.86% 120.87% at 100% 85%, #beb2df -31.58%, #ff7346 41%, #ff7346 38.58%, #beb2df 57.08%, #42365a 76%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
  }
  &__step-number {
    font-weight:$font-unbounded-medium;
    color: $color-white;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
  }

  &__content {
    flex: 1;
  }

  &__item-title {
    font-weight:$font-unbounded-medium;
    color:$color-black-purple;
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 120%;
  }

  &__item-text {
    font-family: $font-manrope;
    font-weight: $font-manrope-regular;
    margin: 0;
    font-size: 20px;
    line-height: 120%;
    color: $color-black;
  }
}
/*SERVICES*/

.services {
  font-family: $font-unbounded;
  padding: 0px 0;
  background: $color-white;

  &__title {
    font-weight:$font-unbounded-medium;
    color:$color-black-purple;
    margin-bottom: 100px;
    font-size: 44px;
    line-height: 100%;
  }

  &__card {
    background: #f1eaff;
    border-radius: 24px;
    padding: 40px 10px 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    max-width: 534px;
    &-title {
      font-weight:$font-unbounded-medium;
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 100%;
      color: $color-black-purple;
    }

    &-price {
      font-weight:$font-unbounded-light;
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 120%;
      color: $color-black-purple;
    }

    &-image {
      width: 70%;
      border-radius: 30px;
      background: $color-white;
      height: auto;
      margin-bottom: 20px;
      padding: 30px 0;
      text-align: center;
      img {
        width: 110px;
        height: 110px;
      }
    }

    &-list {
      list-style: none;
      padding-left: 0;
      margin-bottom: 24px;

      li {
        font-family: $font-manrope;
        font-weight: $font-manrope-regular;
        font-size: 22px;
        line-height: 120%;
        position: relative;
        margin-bottom: 24px;
        color: $color-black;
        padding-left: 42px;
        align-items: center;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
          background: url('img/services-check-1.svg') no-repeat center center;
          background-size: contain;


        }
      }
    }

    &-button {
      font-family: $font-manrope;
      font-weight: $font-manrope-semibold;
      background: radial-gradient(91.86% 104.87% at 108% 100%, #beb2df 28.42%, #ff7346 47%, #ff7346 64.58%, #beb2df 81.08%, #42365a 99%);
      border: none;
      border-radius: 12px;
      line-height: 1;
      color: $color-white;
      padding: 20px 50px;
      text-transform: uppercase;
      cursor: pointer;
      align-self: flex-start;
      margin-top: auto;
      font-size: 20px;
      letter-spacing: 0.08em;


    }

    &--highlighted {
      background: radial-gradient(69.86% 112.87% at 100% 77%, #beb2df 20.42%, #ff7346 31%, #ff7346 50.58%, #beb2df 66.08%, #42365a 79%);
      color: #fff;

      .services__card-title,
      .services__card-price
       {

        color: $color-white;
      }
      .services__card-list li {

        font-family: $font-manrope;
        font-weight: $font-manrope-regular;
        font-size: 22px;
        line-height: 120%;
        position: relative;
        margin-bottom: 24px;
        color: $color-white;
        padding-left: 42px;
        align-items: center;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
          background: url('img/services-check-2.svg') no-repeat center center;
          background-size: contain;


        }

      }

      .services__card-button {
        margin-top: auto;
        background: #fff;
        color: $color-black-purple;
      }


    }
  }
}

/*WORKS*/

.works {
  font-family: $font-unbounded;
  padding: 164px 0 114px;
  position: relative;
  z-index: 1;
  background: transparent;



  &__title {
    font-weight: $font-unbounded-medium;
    font-size: 44px;
    line-height: 120%;
    color: $color-black-purple;
    text-align: left;
    margin-bottom: 35px;

  }

  // Навигация табов
  &__tabs {
    font-family: $font-manrope;
    display: flex;
    justify-content: start;
    margin-bottom: 1.5rem;
  }
  &__tab {
    font-weight: $font-manrope-semibold;
    background: #f3edff;
    padding: 12px 24px;
    border: none;
    color: $color-black-purple;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 8px;
    margin-right: 13px;


    &:hover {
      background: $color-black-purple;
      color: $color-white;
    }
    &--active {
      background: $color-black-purple;
      color: $color-white;     // активная вкладка, напр. синий фон (Bootstrap primary)

    }
  }

  // Контейнеры содержимого вкладок
  &__tab-content {
    display: none;                    // скрыто по умолчанию
    &--active {
      display: block;
      &::before {
        content: '';
        position: absolute;
        top: 40%;
        left: -50px;
        right: -50px;
        bottom: 20%;
        background: #f3edff;
        filter: blur(100px);
        z-index: -1;
      }// отображаем только активный таб
    }
  }

  // Стили слайдера (в рамках блока works)
  &__slider {
    position: relative;

  }

  // Стили отдельных карточек-слайдов


  &__slide {

    text-align: center;
    // Можно задать max-width для слайда, либо он будет авто (Swiper распределит по slidesPerView)
  }
  &__image {
    border-radius: 24px;
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ddd;

  }
  &__caption {
    font-weight: $font-unbounded-regular;
    margin-top: 32px;
    margin-bottom: 42px;
    font-size: 30px;
    line-height: 120%;
    color: $color-black-purple;
    text-align: left;
  }
}


/*СТРЕЛКИ СЛАЙДЕРА*/
.swiper-button-next, .swiper-button-prev {
  position: relative!important;
}


  .works__nav {
    display: flex;
    gap: 60px;
    top: -100px;
    right: 0;
    @media (max-width: 768px) {
      display: none;
    }

    .works__slider-prev {
      left: 1.5rem;
      color: transparent;
      border-radius: 1000px;
      padding: 10px;
      width: 68px;
      height: 68px;
      background: #f3edff;
      text-align: center;
      img {
        left: 10px;
        padding: 0px;
        position: absolute;

      }
    }
    .works__slider-next {
      right: 1.5rem;
      color: transparent!important;
      border-radius: 1000px;
      padding: 10px;
      width: 68px;
      height: 68px;
      background: #f3edff;
      text-align: center;
      img {
        right: 10px;
        padding: 0px;
        position: absolute;

      }
    }
  }
  /*DOTS*/
.swiper-pagination {
  text-align: left!important;
  margin-top: 24px!important;
}
.swiper-pagination-bullet {
  border-radius: 100px!important;
  width: 32px!important;
  height: 8px!important;
}
.swiper-pagination-bullet-active {
  background: $color-black-purple!important;
}




/*БАНЕР CTA-PROJECT*/

.cta-project {
  font-family: $font-unbounded;
  padding: 0 0;

  &__box {

    background: #f3edff;
    border-radius: 40px;
    padding: 52px 60px;
    @media (max-width: 992px) {
      padding: 40px 20px;
    }
  }

  &__title {
    font-weight:$font-unbounded-regular ;
    margin: 0;
    font-size: 33px;
    line-height: 120%;
    color: $color-black-purple;
    @media (max-width: 992px) {
      margin-bottom: 40px;
    }
  }

  &__icon {
    max-width: 157px;
    height: auto;

    @media (max-width: 992px) {
      margin-bottom: 40px;

    }
  }

  &__btn {
    font-family: $font-manrope;
    font-weight: $font-manrope-semibold;
    background: radial-gradient(91.86% 104.87% at 108% 100%, #beb2df 28.42%, #ff7346 47%, #ff7346 64.58%, #beb2df 81.08%, #42365a 99%);
    border: none;
    border-radius: 12px;
    line-height: 1;
    color: $color-white;
    padding: 20px 50px;
    text-transform: uppercase;
    cursor: pointer;
    align-self: flex-start;
    margin-top: auto;
    font-size: 20px;
    letter-spacing: 0.08em;
    margin-left: auto;

    @media (max-width: 992px) {

    }


    &:hover {
      background: #fff;
      color: $color-black-purple;
    }
  }
}