@charset "UTF-8";
/*GLOBAL*/
.g-6, .gy-6 {
  --bs-gutter-y: 4rem;
}

.g-6, .gx-6 {
  --bs-gutter-x: 4rem;
}

.g-8, .gy-8 {
  --bs-gutter-y: 8rem;
}

.g-8, .gx-8 {
  --bs-gutter-x: 8rem;
}

@media (min-width: 992px) {
  .col-lg-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
}

.hero {
  padding-top: 90px;
  background: url("img/hero_bg.png") no-repeat top center;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
@media (max-width: 576px) {
  .hero {
    background: url("img/hero_bg-mob.png") no-repeat top center;
    background-size: cover;
  }
}

.header {
  padding: 1.4rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.header.scrolled {
  background-color: #42365a;
  padding: 0rem 0;
}
.header .navbar-nav {
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: 32px;
  margin-left: 32px;
  gap: 30px;
}
.header .navbar-nav::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.header .navbar-nav::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.header .navbar-nav .dropdown-menu {
  border: 2px solid #9788b5;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #564871;
}
.header .navbar-nav .dropdown-menu li a {
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 6px 19px;
}
.header .navbar-nav .dropdown-menu li a:hover {
  background: #9788b5;
}
.header .navbar-nav .dropdown-menu li a:focus {
  background: #9788b5;
}
.header .nav-item .nav-link {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.08em;
  padding: 0;
}
.header .nav-item .nav-link:hover {
  color: #ff7346;
}
.header .nav-item .nav-link:active {
  color: #ff7346;
}
.header .nav-item .nav-link:focus {
  color: #ff7346;
}
.header .header__menu-item:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 1px;
  background: rgba(255, 255, 255, 0.4);
}

.header__logo {
  font-family: "Unbounded", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: #ff7346;
}
.header__logo span {
  color: #ff7346;
}

.header__contacts {
  gap: 32px;
}

.header__contact-phone,
.header__contact-email {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}
.header__contact-phone svg,
.header__contact-email svg {
  margin-right: 6px;
}

@media (max-width: 992px) {
  .header__contact-email {
    margin-left: 1rem;
    margin-bottom: 0;
  }
}

.header__contact-phone:hover,
.header__contact-email:hover {
  color: #fff;
  text-decoration: none;
}
.header__contact-phone:hover:hover,
.header__contact-email:hover:hover {
  color: #ff7346;
}
.header__contact-phone:hover:hover svg path,
.header__contact-email:hover:hover svg path {
  stroke: #ff7346;
}
.header__contact-phone:hover:active,
.header__contact-email:hover:active {
  color: #ff7346;
}
.header__contact-phone:hover:active svg path,
.header__contact-email:hover:active svg path {
  stroke: #ff7346;
}

.header__cta {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
}
.header__cta svg {
  margin-right: 6px;
}
.header__cta:hover {
  color: #ff7346;
}
.header__cta:hover svg path {
  stroke: #ff7346;
}
.header__cta:active {
  color: #ff7346;
}
.header__cta:active svg path {
  stroke: #ff7346;
}

.main {
  padding: 125px 0 267px;
  text-align: center;
}
@media (max-width: 992px) {
  .main {
    text-align: left;
  }
}

.main__title {
  font-size: 44px;
  line-height: 100%;
  color: #fff;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .main__title {
    margin-bottom: 30px;
  }
}

.main__subtitle {
  color: #fff;
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  margin-bottom: 82px;
  font-size: 24px;
  line-height: 120%;
}
@media (max-width: 992px) {
  .main__subtitle {
    margin-bottom: 60px;
  }
}

.btn-orange {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.08em;
  color: #fff;
  background: #ff7346;
  padding: 17px 26.5px;
  text-transform: uppercase;
  border: 1px solid #ff9b7b;
  border-radius: 12px;
  box-shadow: 0 12px 12px 0 rgba(255, 115, 70, 0.3);
}
.btn-orange svg {
  margin-right: 8px;
}
.btn-orange:hover {
  border: 1px solid #bdb2d3;
  background: radial-gradient(163.86% 91.87% at 100% 100%, #beb2df 16.42%, #ff7346 35%, #ff7346 54.58%, #beb2df 73.08%, #9788b5 100%);
  box-shadow: 0 12px 12px 0 rgba(151, 136, 181, 0.3);
}
.btn-orange:active {
  border: 1px solid #bdb2d3;
  box-shadow: 0 12px 12px 0 rgba(151, 136, 181, 0.3);
  background: radial-gradient(254.86% 131.2% at 100% 100%, #beb2df 37.02%, #ff7346 85.58%, #beb2df 100%);
}
.btn-orange:disabled {
  border: 1px solid #817697;
  box-shadow: 0 12px 12px 0 rgba(151, 136, 181, 0.3);
  background: #6c5e88;
  cursor: not-allowed;
  color: #817697;
}
.btn-orange:disabled svg path {
  stroke: #817697;
}

.main__image {
  max-width: 400px;
  height: auto;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.floating {
  animation: floatUpDown 3s ease-in-out infinite;
}

/*ABOUT*/
.about {
  font-family: "Unbounded", sans-serif;
  color: #42365a;
  margin-top: -80px;
  position: relative;
  padding: 0px 0 100px 0;
  background: transparent;
}
.about .container {
  position: relative;
  z-index: 1;
}
.about__intro {
  position: relative;
  background: #fff;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 97px 60px 67px 0;
  z-index: 1;
}
.about__intro::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  width: 100vw;
  background: #fff;
  z-index: -1;
}
.about__title {
  font-weight: 500;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 120%;
}
.about__text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #000;
  margin-bottom: 30px;
}
.about__stats {
  --bs-gutter-x: 20px;
}
.about__card {
  background: #f3edff;
  border-radius: 40px;
  padding: 43px 40px;
  text-align: left;
}
.about__card-value {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 100%;
}
.about__card-label {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 22px;
  line-height: 120%;
}

/*BENEFITS*/
.benefits {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  position: relative;
  padding: 100px 0 232px;
  overflow: hidden;
  background: url("img/benefits_bg.png") no-repeat center center;
  background-size: cover;
  /*
    &__background {
      position: absolute;
      inset: 0;
      filter: blur(100px);
      background: radial-gradient(163.86% 91.87% at 100% 100%, #beb2df 16.42%, #ff7346 35%, #ff7346 54.58%, #beb2df 73.08%, #42365a 100%);
      z-index: 1;
    }
  */
}
.benefits__image {
  max-width: 339px;
  height: auto;
  margin-left: -100px;
}
.benefits .container {
  position: relative;
  z-index: 2;
}
.benefits__card {
  background: #fff;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  padding: 95px 138px 164px 0;
  margin-left: 0;
}
.benefits__card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -96vw;
  width: 100vw;
  background: #fff;
  z-index: -1;
}
.benefits__title {
  font-weight: 500;
  color: #42365a;
  margin-bottom: 103px;
  font-size: 36px;
  line-height: 120%;
}
.benefits__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.benefits__icon {
  border-radius: 40px;
  width: 119px;
  height: 119px;
  margin-bottom: 32px;
  text-align: center;
  padding: 21px;
  background: radial-gradient(87.86% 120.87% at 100% 97%, #beb2df 18.42%, #ff7346 44%, #ff7346 46.58%, #beb2df 65.08%, #42365a 86%);
}
.benefits__icon img {
  width: 77px;
  vert-align: middle;
}
.benefits__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #42365a;
}
.benefits__item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 20px;
  line-height: 120%;
}

/*SITES*/
.sites {
  font-family: "Unbounded", sans-serif;
  padding-bottom: 100px;
}
.sites__title {
  font-weight: 500;
  color: #42365a;
  margin-bottom: 10px;
  font-size: 44px;
  line-height: 100%;
  margin-bottom: 30px;
}
.sites__subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 83px;
}
.sites__card {
  position: relative;
  background: #f3edff;
  border-radius: 40px;
  padding: 20px 20px 20px 20px;
  text-align: left;
  height: 100%;
  min-height: 363px;
  /*transition: all 0.3s ease;*/
  /*
      &:hover {
        transform: translateY(-5px);
      }*/
}
.sites__arrow {
  position: absolute;
  width: 64px;
  height: auto;
  bottom: -30px;
  left: 99px;
  z-index: 2;
  pointer-events: none;
}
.sites__icon {
  width: 55%;
  border-radius: 30px;
  background: #fff;
  height: auto;
  margin-bottom: 20px;
  padding: 30px 0;
  text-align: center;
}
.sites__icon img {
  width: 110px;
  height: 110px;
}
.sites__card-title {
  font-weight: 500;
  color: #42365a;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
}
.sites__card-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}
.sites__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("img/sites_cta_bg.png") no-repeat top center;
  background-size: cover;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  height: 100%;
  padding: 30px;
  text-decoration: none;
}
.sites__cta img {
  width: 110px;
  height: 110px;
  margin-bottom: 15px;
}
.sites__cta span {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}
.sites__cta:hover {
  filter: brightness(1.2);
}

/*workflow*/
.workflow {
  font-family: "Unbounded", sans-serif;
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}
.workflow__image {
  max-width: 349px;
  height: auto;
  padding-right: 62px;
}
.workflow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0;
  background: #f3edff;
  filter: blur(100px);
  z-index: -1;
}
.workflow__card {
  background: #fff;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 48px;
  padding: 85px 0 99px 85px;
  height: 100%;
  position: relative;
}
.workflow__card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100vw;
  width: 100vw;
  background: #fff;
  z-index: 0;
}
.workflow__title {
  font-weight: 500;
  color: #42365a;
  margin-bottom: 39px;
  font-size: 44px;
  line-height: 100%;
}
.workflow__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 40px;
}
.workflow__item {
  display: flex;
  align-items: center;
  max-width: 775px;
  min-height: 181px;
  background: #f3edff;
  border-radius: 40px;
  padding: 40px 20px;
}
.workflow__item:nth-child(2), .workflow__item:nth-child(4) {
  margin-left: auto;
}
.workflow__item:nth-child(1), .workflow__item:nth-child(3) {
  margin-right: auto;
}
.workflow__step {
  flex-shrink: 0;
  border-radius: 1000px;
  width: 100px;
  height: 100px;
  background: radial-gradient(80.86% 120.87% at 100% 85%, #beb2df -31.58%, #ff7346 41%, #ff7346 38.58%, #beb2df 57.08%, #42365a 76%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 32px;
}
.workflow__step-number {
  font-weight: 500;
  color: #fff;
  font-size: 44px;
  line-height: 120%;
  text-align: center;
}
.workflow__content {
  flex: 1;
}
.workflow__item-title {
  font-weight: 500;
  color: #42365a;
  margin-bottom: 8px;
  font-size: 30px;
  line-height: 120%;
}
.workflow__item-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

/*SERVICES*/
.services {
  font-family: "Unbounded", sans-serif;
  padding: 0px 0;
  background: #fff;
}
.services__title {
  position: relative;
  z-index: 2;
  font-weight: 500;
  color: #42365a;
  margin-bottom: 100px;
  font-size: 44px;
  line-height: 100%;
}
.services__card {
  background: #f1eaff;
  border-radius: 24px;
  padding: 40px 10px 40px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  max-width: 534px;
}
.services__card-title {
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 100%;
  color: #42365a;
}
.services__card-price {
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 120%;
  color: #42365a;
}
.services__card-image {
  width: 70%;
  border-radius: 30px;
  background: #fff;
  height: auto;
  margin-bottom: 20px;
  padding: 30px 0;
  text-align: center;
}
.services__card-image img {
  width: 110px;
  height: 110px;
}
.services__card-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 24px;
}
.services__card-list li {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  position: relative;
  margin-bottom: 24px;
  color: #000;
  padding-left: 42px;
  align-items: center;
}
.services__card-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("img/services-check-1.svg") no-repeat center center;
  background-size: contain;
}
.services__card-button {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  background: radial-gradient(91.86% 104.87% at 108% 100%, #beb2df 28.42%, #ff7346 47%, #ff7346 64.58%, #beb2df 81.08%, #42365a 99%);
  border: none;
  border-radius: 12px;
  line-height: 1;
  color: #fff;
  padding: 20px 50px;
  text-transform: uppercase;
  cursor: pointer;
  align-self: flex-start;
  margin-top: auto;
  font-size: 20px;
  letter-spacing: 0.08em;
}
.services__card--highlighted {
  position: relative;
  background: radial-gradient(69.86% 112.87% at 100% 77%, #beb2df 20.42%, #ff7346 31%, #ff7346 50.58%, #beb2df 66.08%, #42365a 79%);
  color: #fff;
}
.services__card--highlighted .services__card-title,
.services__card--highlighted .services__card-price {
  color: #fff;
}
.services__card--highlighted .services__card-list li {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  position: relative;
  margin-bottom: 24px;
  color: #fff;
  padding-left: 42px;
  align-items: center;
}
.services__card--highlighted .services__card-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("img/services-check-2.svg") no-repeat center center;
  background-size: contain;
}
.services__card--highlighted .services__card-button {
  margin-top: auto;
  background: #fff;
  color: #42365a;
}
.services__card--highlighted .services__card__arrow {
  position: absolute;
  width: 100px;
  height: auto;
  bottom: -23px;
  left: -60px;
  z-index: 2;
  pointer-events: none;
}

/*WORKS*/
.works {
  font-family: "Unbounded", sans-serif;
  padding: 164px 0 114px;
  position: relative;
  z-index: 1;
  background: transparent;
}
.works__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 120%;
  color: #42365a;
  text-align: left;
  margin-bottom: 35px;
}
.works__tabs {
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: start;
  margin-bottom: 1.5rem;
}
.works__tab {
  font-weight: 600;
  background: #f3edff;
  padding: 12px 24px;
  border: none;
  color: #42365a;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 8px;
  margin-right: 13px;
}
.works__tab:hover {
  background: radial-gradient(93.86% 145.87% at 114% 108%, #beb2df 29.42%, #ff7346 56%, #ff7346 54.58%, #beb2df 73.08%, #9788b5 100%);
  color: #fff;
}
.works__tab--active {
  background: #42365a;
  color: #fff;
}
.works__tab-content {
  display: none;
}
.works__tab-content--active {
  display: block;
}
.works__tab-content--active::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0px;
  right: 0px;
  bottom: 20%;
  background: #f3edff;
  filter: blur(100px);
  z-index: -1;
}
.works__slider {
  position: relative;
}
.works__slide {
  text-align: center;
}
.works__image {
  border-radius: 24px;
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ddd;
}
.works__caption {
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 42px;
  font-size: 30px;
  line-height: 120%;
  color: #42365a;
  text-align: left;
}

/*СТРЕЛКИ СЛАЙДЕРА*/
.swiper-button-next, .swiper-button-prev {
  position: relative !important;
}

.works__nav {
  display: flex;
  gap: 60px;
  top: -100px;
  right: 0;
}
@media (max-width: 768px) {
  .works__nav {
    display: none;
  }
}
.works__nav .works__slider-prev {
  left: 1.5rem;
  color: transparent;
  border-radius: 1000px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #f3edff;
  text-align: center;
}
.works__nav .works__slider-prev img {
  left: 10px;
  padding: 0px;
  position: absolute;
}
.works__nav .works__slider-next {
  right: 1.5rem;
  color: transparent !important;
  border-radius: 1000px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #f3edff;
  text-align: center;
}
.works__nav .works__slider-next img {
  right: 10px;
  padding: 0px;
  position: absolute;
}

/*DOTS*/
.swiper-pagination {
  text-align: left !important;
  margin-top: 24px !important;
}

.swiper-pagination-bullet {
  border-radius: 100px !important;
  width: 32px !important;
  height: 8px !important;
}

.swiper-pagination-bullet-active {
  background: #42365a !important;
}

/*БАНЕР CTA-PROJECT*/
.cta-project {
  font-family: "Unbounded", sans-serif;
  padding: 0 0 100px;
}
.cta-project__box {
  background: #f3edff;
  border-radius: 40px;
  padding: 52px 60px;
}
@media (max-width: 992px) {
  .cta-project__box {
    padding: 40px 20px;
  }
}
.cta-project__title {
  font-weight: 400;
  margin: 0;
  font-size: 33px;
  line-height: 120%;
  color: #42365a;
}
@media (max-width: 992px) {
  .cta-project__title {
    margin-bottom: 40px;
  }
}
.cta-project__icon {
  max-width: 157px;
  height: auto;
}
@media (max-width: 992px) {
  .cta-project__icon {
    margin-bottom: 40px;
  }
}
.cta-project__btn {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  background: radial-gradient(91.86% 104.87% at 108% 100%, #beb2df 28.42%, #ff7346 47%, #ff7346 64.58%, #beb2df 81.08%, #42365a 99%);
  border: none;
  border-radius: 12px;
  line-height: 1;
  color: #fff;
  padding: 20px 50px;
  text-transform: uppercase;
  cursor: pointer;
  align-self: flex-start;
  margin-top: auto;
  font-size: 20px;
  letter-spacing: 0.08em;
  margin-left: auto;
}
.cta-project__btn:hover {
  background: #fff;
  color: #42365a;
}

/*REVIEW-SLIDER*/
.review-slider {
  padding: 80px 0 100px;
  position: relative;
  z-index: 1;
  /* The .container class from Bootstrap centers this block and limits width to 1320px on xxl screens */
  /* The .container class from Bootstrap centers this block and limits width to 1320px on xxl screens */
}
.review-slider::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0px;
  right: 0px;
  bottom: 0%;
  background: radial-gradient(41.86% 150.87% at 104% 96%, #beb2df 26.42%, #ff7346 48%, #ff7346 54.58%, #beb2df 73.08%, #42365a 100%);
  filter: blur(50px);
  z-index: -1;
}
.review-slider__h2-title {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 120%;
  color: #fff;
  text-align: left;
  margin-bottom: 68px;
}
.review-slider__swiper {
  width: 100%;
}
.review-slider .swiper-wrapper {
  align-items: stretch;
}
.review-slider__slide {
  display: flex !important;
  flex-direction: column;
  height: auto !important;
  /* Styles for each slide (review card) */
  background: #fff;
  padding: 40px 40px;
  border-radius: 40px;
  text-align: left;
  /* &:hover{
     background:  radial-gradient(163.86% 91.87% at 100% 100%, #beb2df 16.42%, #ff7346 35%, #ff7346 54.58%, #beb2df 73.08%, #9788b5 100%);;
     .review-slider__title {
       color: $color-white;
     }
     .review-slider__excerpt {
       color: $color-white;
     }
   }*/
}
.review-slider__slide .review-slider__card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.review-slider__slide .review-slider__logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 14px;
}
.review-slider__slide .review-slider__icon-wrapper {
  background: #42365a;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.review-slider__slide .review-slider__icon {
  width: 26px;
  height: 26px;
}
.review-slider__slide .review-slider__company-name {
  font-family: "Onest", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #42365a;
  text-align: left;
  margin-bottom: 0;
  margin-left: 15px;
}
.review-slider__slide .review-slider__company-name.text-notica {
  font-family: "Noticia Text", sans-serif;
  font-weight: 700;
}
.review-slider__slide .review-slider__content {
  flex: 1;
  min-width: 0;
}
.review-slider__slide .review-slider__title {
  text-align: left;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: #42365a;
  margin: 0px 0 20px;
}
.review-slider__slide .review-slider__text {
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  margin: 0px 0 24px;
}
.review-slider__slide .review-slider__button {
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #f3edff;
  font-size: 14px;
  text-decoration: none;
  color: #42365a;
  transition: all 0.3s;
  border-radius: 8px;
  padding: 8px 16px;
  text-transform: uppercase;
}
.review-slider__slide .review-slider__button:hover {
  background-color: #e0d6ff;
}
.review-slider__slide .review-slider__button-icon {
  width: 20px;
  height: 20px;
}
.review-slider__pagination {
  text-align: left;
}

/*СТРЕЛКИ СЛАЙДЕРА*/
.swiper-button-next, .swiper-button-prev {
  position: relative !important;
}

.review-slider__nav {
  display: flex;
  gap: 60px;
  top: -98px;
  right: 0;
}
@media (max-width: 768px) {
  .review-slider__nav {
    display: none;
  }
}
.review-slider__nav .review-slider__slider-prev {
  left: 1.5rem;
  color: transparent;
  border-radius: 1000px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #f3edff;
  text-align: center;
}
.review-slider__nav .review-slider__slider-prev img {
  left: 10px;
  padding: 0px;
  position: absolute;
}
.review-slider__nav .review-slider__slider-next {
  right: 1.5rem;
  color: transparent !important;
  border-radius: 1000px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #f3edff;
  text-align: center;
}
.review-slider__nav .review-slider__slider-next img {
  right: 10px;
  padding: 0px;
  position: absolute;
}

/*BRANDS*/
.brands {
  padding: 139px 0 100px;
}
.brands__title {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 120%;
  color: #42365a;
  text-align: left;
  margin-bottom: 100px;
}
/*TEAM-SLIDER*/
.team-slider {
  padding: 80px 0 100px;
  /* The .container class from Bootstrap centers this block and limits width to 1320px on xxl screens */
  /* The .container class from Bootstrap centers this block and limits width to 1320px on xxl screens */
}
.team-slider__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 68px;
}
.team-slider__h2-title {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 120%;
  color: #42365a;
  text-align: left;
}
.team-slider__badge {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  border-radius: 8px;
  padding: 4px 11px;
  font-size: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  background-color: #3d2c5d;
  line-height: 1.2;
  margin-left: 40px;
}
.team-slider__swiper {
  width: 100%;
}
.team-slider .swiper-wrapper {
  align-items: stretch;
}
.team-slider__slide {
  display: flex !important;
  flex-direction: column;
  height: auto !important;
  /* Styles for each slide (team card) */
  background: #f3edff;
  padding: 40px 30px;
  border-radius: 40px;
  text-align: center;
}
.team-slider__slide:hover {
  background: radial-gradient(163.86% 91.87% at 100% 100%, #beb2df 16.42%, #ff7346 35%, #ff7346 54.58%, #beb2df 73.08%, #9788b5 100%);
}
.team-slider__slide:hover .team-slider__title {
  color: #fff;
}
.team-slider__slide:hover .team-slider__excerpt {
  color: #fff;
}
.team-slider__slide img {
  border-radius: 30px;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}
.team-slider__slide .team-slider__title {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  text-align: center;
  color: #42365a;
  margin: 30px 0 20px;
}
.team-slider__slide .team-slider__excerpt {
  text-align: center;
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #42365a;
}
.team-slider__pagination {
  text-align: left;
}

/*СТРЕЛКИ СЛАЙДЕРА*/
.swiper-button-next, .swiper-button-prev {
  position: relative !important;
}

.team-slider__nav {
  display: flex;
  gap: 60px;
  top: -99px;
  right: 0;
}
@media (max-width: 768px) {
  .team-slider__nav {
    display: none;
  }
}
.team-slider__nav .team-slider__slider-prev {
  left: 1.5rem;
  color: transparent;
  border-radius: 1000px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #f3edff;
  text-align: center;
}
.team-slider__nav .team-slider__slider-prev img {
  left: 10px;
  padding: 0px;
  position: absolute;
}
.team-slider__nav .team-slider__slider-next {
  right: 1.5rem;
  color: transparent !important;
  border-radius: 1000px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #f3edff;
  text-align: center;
}
.team-slider__nav .team-slider__slider-next img {
  right: 10px;
  padding: 0px;
  position: absolute;
}

/*CERTIFICATE-SLIDER*/
.certificate-slider {
  padding: 80px 0 100px;
  /* The .container class from Bootstrap centers this block and limits width to 1320px on xxl screens */
  /* The .container class from Bootstrap centers this block and limits width to 1320px on xxl screens */
}
.certificate-slider__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 68px;
}
.certificate-slider__h2-title {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 120%;
  color: #42365a;
  text-align: left;
}
.certificate-slider__badge {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  border-radius: 8px;
  padding: 4px 11px;
  font-size: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  background-color: #3d2c5d;
  line-height: 1.2;
  margin-left: 40px;
}
.certificate-slider__swiper {
  width: 100%;
}
.certificate-slider .swiper-wrapper {
  align-items: stretch;
}
.certificate-slider__slide {
  display: flex !important;
  flex-direction: column;
  height: auto !important;
  /* Styles for each slide (certificate card) */
  background: #f3edff;
  padding: 40px 30px;
  border-radius: 40px;
  text-align: center;
}
.certificate-slider__slide:hover {
  background: radial-gradient(163.86% 91.87% at 100% 100%, #beb2df 16.42%, #ff7346 35%, #ff7346 54.58%, #beb2df 73.08%, #9788b5 100%);
}
.certificate-slider__slide:hover .certificate-slider__title {
  color: #fff;
}
.certificate-slider__slide img {
  border-radius: 16px;
  max-width: 60%;
  margin: 0 auto;
  height: auto;
}
.certificate-slider__slide .certificate-slider__title {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #42365a;
  margin: 30px 0 20px;
}
.certificate-slider__pagination {
  text-align: left;
}

/*СТРЕЛКИ СЛАЙДЕРА*/
.swiper-button-next, .swiper-button-prev {
  position: relative !important;
}

.certificate-slider__nav {
  display: flex;
  gap: 60px;
  top: -99px;
  right: 0;
}
@media (max-width: 768px) {
  .certificate-slider__nav {
    display: none;
  }
}
.certificate-slider__nav .certificate-slider__slider-prev {
  left: 1.5rem;
  color: transparent;
  border-radius: 1000px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #f3edff;
  text-align: center;
}
.certificate-slider__nav .certificate-slider__slider-prev img {
  left: 10px;
  padding: 0px;
  position: absolute;
}
.certificate-slider__nav .certificate-slider__slider-next {
  right: 1.5rem;
  color: transparent !important;
  border-radius: 1000px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #f3edff;
  text-align: center;
}
.certificate-slider__nav .certificate-slider__slider-next img {
  right: 10px;
  padding: 0px;
  position: absolute;
}

/*WHY-US*/
.why-us {
  padding: 80px 0;
}
.why-us__title {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
  font-size: 44px;
  line-height: 120%;
  color: #42365a;
}
@media (max-width: 992px) {
  .why-us__title {
    font-size: 33px;
    margin-bottom: 24px;
  }
}
.why-us__text p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 120%;
  color: #000;
}
@media (max-width: 992px) {
  .why-us__text p {
    font-size: 18px;
    margin-bottom: 28px;
  }
}
.why-us__text p:last-child {
  margin-bottom: 0;
}

/*CALCULATE-CONTACT-FORM*/
.calculate-contact-form {
  font-family: "Unbounded", sans-serif;
  padding: 270px 0 240px;
  position: relative;
  z-index: 1;
}
.calculate-contact-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0;
  background: #f3edff;
  filter: blur(100px);
  z-index: -1;
}
.calculate-contact-form__image {
  max-width: 395px;
  height: auto;
  margin-left: -127px;
}
.calculate-contact-form__wrapper {
  background-color: #42365a;
  position: relative;
  border-radius: 0 40px 40px 0;
  padding: 85px 85px 150px 0;
}
.calculate-contact-form__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  width: 100vw;
  background: #42365a;
  z-index: -1;
}
.calculate-contact-form__title {
  font-weight: 500;
  text-align: left;
  margin-bottom: 75px;
  font-size: 36px;
  line-height: 120%;
  color: #fff;
}
.calculate-contact-form__group-title {
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 27px;
  line-height: 120%;
  color: #9788b5;
}
.calculate-contact-form__group:not(:last-child) {
  margin-bottom: 65px;
}
.calculate-contact-form .row .col-lg-6:nth-of-type(1) .form-check-input {
  background-color: #564871;
  border: none;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.calculate-contact-form .row .col-lg-6:nth-of-type(1) .form-check-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 115, 70, 0.25);
}
.calculate-contact-form .row .col-lg-6:nth-of-type(1) .form-check-input:checked {
  background-color: #ff7346;
  border-color: #ff7346;
}
.calculate-contact-form .row .col-lg-6:nth-of-type(2) .form-check-input {
  border-radius: 4px;
  background-color: #564871;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.calculate-contact-form .row .col-lg-6:nth-of-type(2) .form-check-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 115, 70, 0.25);
}
.calculate-contact-form .row .col-lg-6:nth-of-type(2) .form-check-input:checked {
  background-color: #ff7346;
  border-color: #ff7346;
}
.calculate-contact-form .form-check-input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.calculate-contact-form .form-check-label {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
  margin-left: 12px;
}
.calculate-contact-form__option:not(:last-child) {
  margin-bottom: 12px;
}
.calculate-contact-form__option {
  display: flex;
  align-items: end;
}
.calculate-contact-form__field-group {
  position: relative;
  margin-bottom: 1rem;
}
.calculate-contact-form__input {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  background: #564871;
  border: 2px solid #9788b5;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  color: #fff;
  padding: 15px 20px;
  margin-bottom: 30px;
  font-size: 24px;
}
.calculate-contact-form__input::placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: #fff;
}
.calculate-contact-form__input:focus {
  border-color: #ff7346;
  outline: none;
}
.calculate-contact-form__icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}
.calculate-contact-form__agreement {
  display: flex;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 71px;
}

/*FAQ*/
.faq {
  overflow: hidden;
  padding: 100px 0;
  font-family: "Unbounded", sans-serif;
  position: relative;
  z-index: 1;
}
.faq::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 10%;
  background: #f3edff;
  filter: blur(100px);
  z-index: -1;
}
.faq__image {
  max-width: 260px;
  height: auto;
  padding-left: 65px;
}
.faq__content {
  background: #fff;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 48px;
  padding: 85px 0 99px 85px;
  height: 100%;
  position: relative;
}
.faq__content::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100vw;
  width: 100vw;
  background: #fff;
  z-index: 0;
}
.faq__title {
  font-weight: 500;
  margin-bottom: 42px;
  color: #42365a;
  font-size: 30px;
  line-height: 120%;
}
.faq__item {
  border: none;
  background: transparent;
  margin-bottom: 1rem;
}
.faq__button {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  background-color: #f3edff;
  border-radius: 40px;
  box-shadow: none;
  padding: 30px 20px;
  color: #2e254d;
}
.faq__button::after {
  display: none;
}
.faq__icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.faq__icon--plus {
  background-image: url("img/plus.svg");
}
.faq__icon--minus {
  background-image: url("img/minus.svg");
}
.faq__body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background-color: #392c55;
  color: #fff;
  border-radius: 0 0 40px 40px;
  padding: 0 20px 30px 105px;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  margin-top: -1px;
}
.faq__body p {
  position: relative;
  margin-top: 0px;
  z-index: 3;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-collapse {
  transition: none !important;
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.accordion-button:not(.collapsed) {
  align-items: flex-start;
  border-radius: 40px 40px 0 0;
  color: #9788b5;
  background-color: #392c55;
  box-shadow: none;
  padding-bottom: 0;
}

/*ARTICLE-SLIDER*/
.article-slider {
  padding: 80px 0 100px;
  /* The .container class from Bootstrap centers this block and limits width to 1320px on xxl screens */
}
.article-slider__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 68px;
}
.article-slider__h2-title {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 120%;
  color: #42365a;
  text-align: left;
}
.article-slider__badge {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  border-radius: 8px;
  padding: 4px 11px;
  font-size: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  background-color: #3d2c5d;
  line-height: 1.2;
  margin-left: 40px;
}
.article-slider__swiper {
  width: 100%;
}
.article-slider .swiper-wrapper {
  align-items: stretch;
}
.article-slider__slide {
  display: flex !important;
  flex-direction: column;
  height: auto !important;
  /* Styles for each slide (article card) */
  background: #f3edff;
  padding: 40px 30px;
  border-radius: 40px;
  text-align: center;
}
.article-slider__slide:hover {
  background: radial-gradient(77.86% 137.87% at 105% 81%, #f3edff 17.08%, #ff7346 29.16%, #beb2df 49.22%, #f3edff 80.75%);
}
.article-slider__slide img {
  border-radius: 30px;
  max-width: 100%;
  height: auto;
}
.article-slider__slide .article-slider__title {
  text-align: left;
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #42365a;
  margin: 30px 0 20px;
}
.article-slider__slide .article-slider__excerpt {
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.article-slider__slide .article-slider__button {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  background: radial-gradient(91.86% 104.87% at 108% 100%, #beb2df 28.42%, #ff7346 47%, #ff7346 64.58%, #beb2df 81.08%, #42365a 99%);
  border: none;
  border-radius: 12px;
  line-height: 1;
  color: #fff;
  padding: 20px 50px;
  text-transform: uppercase;
  cursor: pointer;
  align-self: flex-start;
  margin-top: auto;
  font-size: 20px;
  letter-spacing: 0.08em;
}
.article-slider__pagination {
  text-align: left;
}

/*СТРЕЛКИ СЛАЙДЕРА*/
.swiper-button-next, .swiper-button-prev {
  position: relative !important;
}

.article-slider__nav {
  display: flex;
  gap: 60px;
  top: -99px;
  right: 0;
}
@media (max-width: 768px) {
  .article-slider__nav {
    display: none;
  }
}
.article-slider__nav .article-slider__slider-prev {
  left: 1.5rem;
  color: transparent;
  border-radius: 1000px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #f3edff;
  text-align: center;
}
.article-slider__nav .article-slider__slider-prev img {
  left: 10px;
  padding: 0px;
  position: absolute;
}
.article-slider__nav .article-slider__slider-next {
  right: 1.5rem;
  color: transparent !important;
  border-radius: 1000px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #f3edff;
  text-align: center;
}
.article-slider__nav .article-slider__slider-next img {
  right: 10px;
  padding: 0px;
  position: absolute;
}

/*BOTTOM FORM*/
.contact-form {
  font-family: "Manrope", sans-serif;
  padding: 188px 0;
  position: relative;
  z-index: 1;
}
.contact-form::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0px;
  right: 0px;
  bottom: 20%;
  background: #e0d3fa;
  filter: blur(100px);
  z-index: -1;
}
.contact-form__container {
  padding: 0;
}
.contact-form__box {
  position: relative;
  background-color: #42365a;
  border-radius: 40px;
  padding: 90px 110px;
  margin-left: 0;
}
@media (max-width: 992px) {
  .contact-form__box {
    padding: 153px 20px 40px;
    border-radius: 0 40px 40px 0;
  }
  .contact-form__box::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -96vw;
    width: 100vw;
    background: #42365a;
    z-index: -1;
  }
}
.contact-form__lego {
  position: absolute;
  width: 213px;
  height: auto;
  top: -71px;
  right: 110px;
  z-index: 2;
  pointer-events: none;
}
.contact-form__title {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #9788b5;
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .contact-form__title {
    margin-bottom: 79px;
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  .contact-form__form {
    display: flex;
    align-items: center;
  }
}
.contact-form__input {
  background: #564871;
  border: 2px solid #9788b5;
  border-radius: 12px;
  color: #fff;
  padding: 18px 20px;
  width: 100%;
}
.contact-form__input::placeholder {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-align: left;
  color: #fff;
}
.contact-form__input:focus {
  border-color: #ff6b3b;
  box-shadow: none;
}
.contact-form__submit {
  background: linear-gradient(135deg, #ff6b3b, #ff8b5e);
  border: none;
  color: #fff;
  padding: 12px 36px;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.contact-form__submit:hover {
  opacity: 0.9;
}
.contact-form__check {
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  margin-top: 10px;
}
.contact-form__check .form-check-input {
  background-color: #564871;
  border: none;
  margin-right: 8px;
}
.contact-form__check .form-check-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 115, 70, 0.25);
}
.contact-form__check .form-check-input:checked {
  background-color: #ff7346;
  border-color: #ff7346;
}
.contact-form__check .form-check-label {
  color: #fff;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none !important;
  border-color: #ced4da !important;
  box-shadow: none !important;
}

/*FOOTER*/
.footer {
  font-family: "Unbounded", sans-serif;
  background-color: #42365a;
  color: #fff;
  padding: 86px 0 42px;
  border-radius: 40px 40px 0 0;
}
@media (max-width: 577px) {
  .footer {
    padding: 44px 0px 100px;
    border-radius: 0;
  }
}
.footer__logo {
  font-family: "Unbounded", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  line-height: 120%;
  text-decoration: none;
}
.footer__logo-white {
  position: relative;
  display: inline-block;
}
.footer__logo-white::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: #fff;
}
.footer__logo-accent {
  position: relative;
  color: #ff7346;
}
.footer__logo-accent::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #ff7346;
}
.footer .row > div:nth-child(2),
.footer .row > div:nth-child(3) {
  padding-left: 80px;
  padding-right: 0;
}
@media (max-width: 1201px) {
  .footer .row > div:nth-child(2),
  .footer .row > div:nth-child(3) {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}
.footer__heading {
  font-weight: 400;
  margin-bottom: 38px;
  font-size: 24px;
  line-height: 100%;
  color: #9788b5;
}
@media (max-width: 577px) {
  .footer__border-mob {
    border-top: 1px solid #574973;
    padding-top: 1.5rem;
  }
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 577px) {
  .footer__list {
    border-bottom: 1px solid #574973;
  }
}
.footer__link {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 100%;
}
.footer__link:hover {
  color: #ff7346;
}
.footer__contacts {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__contacts .footer__contact {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 577px) {
  .footer__contacts .footer__contact {
    justify-content: start;
  }
}
.footer__contacts .footer__icon {
  font-size: 18px;
}
.footer__contacts .footer__contact-tel {
  margin-right: 20px;
  color: #9788b5;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: right;
}
@media (max-width: 577px) {
  .footer__contacts .footer__contact-tel {
    order: 2;
    margin-right: 0px;
    margin-left: 20px;
  }
}
.footer__contacts .footer__contact-tel:hover {
  background: radial-gradient(163.86% 91.87% at 100% 100%, rgb(190, 178, 223) 16.4%, rgb(255, 115, 70) 35%, rgb(255, 115, 70) 54.6%, rgb(190, 178, 223) 73.1%, rgb(151, 136, 181) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.footer__contacts .footer__contact-link {
  margin-right: 20px;
  color: #9788b5;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-align: right;
}
@media (max-width: 577px) {
  .footer__contacts .footer__contact-link {
    order: 2;
    margin-right: 0px;
    margin-left: 20px;
  }
}
.footer__contacts .footer__contact-link:hover {
  background: radial-gradient(163.86% 91.87% at 100% 100%, rgb(190, 178, 223) 16.4%, rgb(255, 115, 70) 35%, rgb(255, 115, 70) 54.6%, rgb(190, 178, 223) 73.1%, rgb(151, 136, 181) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__social-title {
  font-weight: 400;
  margin-bottom: 0px;
  margin-right: 60px;
  font-size: 24px;
  line-height: 100%;
  color: #9788b5;
}
@media (max-width: 769px) {
  .footer__social-title {
    margin-right: auto;
    margin-left: 0px;
    margin-bottom: 36px;
    margin-top: 16px;
  }
}
.footer__socials {
  align-items: center;
  gap: 60px;
}
@media (max-width: 769px) {
  .footer__socials {
    margin-right: auto;
    margin-left: 0px;
    gap: 36px;
  }
}
.footer__socials a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.footer__socials a svg path:hover {
  fill: #ff7346 !important;
}

/*МОДАЛКА*/
.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
  z-index: 1040; /* ниже, чем модалка Bootstrap (1050) */
  transition: opacity 0.3s ease;
}

.blur-overlay.show {
  opacity: 1;
  display: block;
}

.blur-overlay.d-none {
  opacity: 0;
  display: none;
}

.modal-backdrop.show {
  backdrop-filter: none;
  background-color: transparent;
}

.project-modal {
  border-radius: 40px;
  background-color: #42365a;
  padding: 100px 50px;
  color: #fff;
  position: relative;
}
.project-modal__lego {
  position: absolute;
  width: 161px;
  height: auto;
  top: -56px;
  right: 165px;
  z-index: 2;
  pointer-events: none;
}
.project-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  color: #fff;
  opacity: 100;
}
.project-modal__close:focus {
  box-shadow: none;
}
.project-modal__title {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 120%;
  color: #9788b5;
}
.project-modal .form-control {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  background: #564871;
  border: 2px solid #9788b5;
  border-radius: 12px;
  width: 100%;
  color: #fff;
  padding: 15px 20px;
  margin-bottom: 30px;
  font-size: 24px;
}
.project-modal .form-control::placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: #fff;
}
.project-modal .form-control:focus {
  border-color: #ff7346;
  outline: none;
}
.project-modal .form-check-input {
  border-radius: 4px;
  background-color: #564871;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.project-modal .form-check-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 115, 70, 0.25);
}
.project-modal .form-check-input:checked {
  background-color: #ff7346;
  border-color: #ff7346;
}
.project-modal .form-check-label {
  margin-left: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
